@charset "UTF-8";
@import url("../main.less");

.service-site-page {

}

.service-site {

  .tab-title {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    max-width: @g-page-max-width;
    height: 4rem;
    z-index: 100;
    > li {
      flex: 1;
      text-align: center;
      height: 4rem;
      border-bottom: 1px solid @g-brc-default;
      background: @g-con-bgc;
      > span {
        display: inline-block;
        height: 100%;
        line-height: 4rem;
        border-bottom: .2rem solid transparent;
        color: @g-fc-b-d;
        font-size: @g-fs-lg;
      }

      &.act {
        > span {
          border-bottom: .2rem solid @g-main-blue;
          color: @g-main-blue;
        }
      }

    }

  }



  .tab-con {
    position: relative;
    padding-top: 4rem;
    > li {
      display: none;
      position: absolute;
      width: 100%;
    }
  }

  .nav-bar {
    position: fixed;
    top: 4rem;
    width: 100%;
    overflow: auto;
    // &::-webkit-scrollbar{width:0}
    background: @g-con-bgc;
    max-width: @g-page-max-width;

    border-bottom: .5rem solid @g-brc-default;

    > ul {
      display: flex;
      > li {
        flex: 0 0 16%;
        text-align: center;
        height: 3.25rem;
        line-height: 3.25rem;
        > span {
          color: @g-fc-g-d;
          font-size: @g-fs-normal;
        }
        &.act {
          > span {
            color: @g-main-blue;
          }
        }
        &.location {
          flex: 0 0 100%;
          text-align: left;
          padding-left: 1rem;
        }
      }
    }
  }


  .con-list {
    padding-top: 4rem;
    > ul {
      > li {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background: @g-con-bgc;
        height: 6.5rem;
        border-bottom: 1px solid @g-brc-default;
        .info {
          flex: 1;
          padding-left: 1rem;
          > h3 {
            font-size: @g-fs-xl;
            font-weight: 500;
            color: @g-fc-b-d;
          }
          > p {
            margin-top: .5rem;
            padding-left: 2rem;
            font-size: @g-fs-md;
            color: @g-fc-g-d;
            .bgi("../../img/service-hall/dizhi",1.4rem,0 center)
          }
        }

        .tel-icon {
          flex: 0 0 5rem;
          text-align: center;
          line-height: 6.5rem;
          > a {
            display: flex;
            justify-content: center;
            align-items: center;
            > img {
              width: 2rem;
              height: 2rem;
            }
          }
        }
      }
    }
  }

}
