@charset "UTF-8";
.user-address-manage {
  width: 100%;
  height: 100%;
  min-height: 100%;
  margin: 0 auto;
}
.user-address-manage .listwarp {
  background: #f5f5f5;
  position: relative;
  width: 100%;
}
.user-address-manage .listwarp > ul > li {
  background: #ffffff;
  margin-bottom: .5rem;
}
.user-address-manage .listwarp > ul > li .name-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem 1.5rem 0.5rem;
}
.user-address-manage .listwarp > ul > li .name-bar > span {
  font-size: 1.6rem;
  color: #333333;
}
.user-address-manage .listwarp > ul > li .address-bar {
  padding: 0.5rem 1.5rem;
}
.user-address-manage .listwarp > ul > li .address-bar > span {
  font-size: 1.6rem;
  color: #333333;
}
.user-address-manage .listwarp > ul > li .control-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 3.5rem;
  border-top: 1px solid #f5f5f5;
  font-size: 1.4rem;
  color: #555555;
}
.user-address-manage .listwarp > ul > li .control-bar > label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 1rem;
}
.user-address-manage .listwarp > ul > li .control-bar > label input[type='radio'] {
  position: relative;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  background-color: #ffffff;
}
.user-address-manage .listwarp > ul > li .control-bar > label input[type='radio']:after {
  content: "";
  position: absolute;
  border: 1px solid #eeeeee;
  border-radius: 50%;
  width: 100%;
  height: 100%;
}
.user-address-manage .listwarp > ul > li .control-bar > label input[type='radio']:checked:after {
  border: 0;
  background: url("../../img/user-center/xuanze@2x.png") no-repeat center;
  background-size: 100%;
}
@media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
  .user-address-manage .listwarp > ul > li .control-bar > label input[type='radio']:checked:after {
    background: url("../../img/user-center/xuanze@3x.png") no-repeat center;
    background-size: 100%;
  }
}
.user-address-manage .listwarp > ul > li .control-bar > label input[type='radio']:checked + span {
  color: #699fff;
}
.user-address-manage .listwarp > ul > li .control-bar > label span {
  margin-left: 1rem;
}
.user-address-manage .listwarp > ul > li .control-bar .control {
  padding-right: 1rem;
}
.user-address-manage .listwarp > ul > li .control-bar .control > span,
.user-address-manage .listwarp > ul > li .control-bar .control > a {
  padding-left: 2rem;
  margin-left: .5rem;
  font-size: 1.4rem;
  color: #555555;
}
.user-address-manage .listwarp > ul > li .control-bar .control .edit {
  background: url("../../img/user-center/bianji@2x.png") no-repeat 0;
  background-size: 1.5rem;
}
@media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
  .user-address-manage .listwarp > ul > li .control-bar .control .edit {
    background: url("../../img/user-center/bianji@3x.png") no-repeat 0;
    background-size: 1.5rem;
  }
}
.user-address-manage .listwarp > ul > li .control-bar .control .delete {
  background: url("../../img/user-center/shanchu@2x.png") no-repeat 0;
  background-size: 1.5rem;
}
@media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
  .user-address-manage .listwarp > ul > li .control-bar .control .delete {
    background: url("../../img/user-center/shanchu@3x.png") no-repeat 0;
    background-size: 1.5rem;
  }
}
.user-address-manage .btn-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 4.5rem;
  max-width: 750px;
}
.user-address-manage .btn-bar > a {
  display: block;
  width: 100%;
  height: 100%;
  background: #6496fa;
  line-height: 4.5rem;
  text-align: center;
  font-size: 1.6rem;
  color: #fff;
}
.user-address-manage .fix-black-mask {
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}
.user-address-manage .bn-mask {
  display: none;
}
.user-address-manage .modal-mask {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.user-address-manage .modal-mask .modal-box {
  position: relative;
  top: -3rem;
  width: 80%;
  min-width: 26rem;
  background: #fff;
  border-radius: 1rem;
  padding: 1rem;
}
.user-address-manage .modal-mask .modal-box .close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 2.1rem;
  height: 2.1rem;
}
.user-address-manage .modal-mask .modal-box .close-btn > img {
  width: 100%;
}
.user-address-manage .modal-mask .modal-box .header {
  margin-top: .5rem;
  text-align: center;
  margin-bottom: 2rem;
  font-weight: 600;
  font-size: 1.6rem;
  color: #6496fa;
}
.user-address-manage .modal-mask .modal-box .btnwarp {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2rem;
  text-align: center;
}
.user-address-manage .modal-mask .modal-box .btnwarp a {
  width: 11rem;
  height: 3.2rem;
  line-height: 3.2rem;
  font-size: 1.4rem;
  border-radius: 3.2rem;
}
.user-address-manage .modal-mask .modal-box .btnwarp .btn-yes {
  color: #ffffff;
  background: #6496fa;
}
.user-address-manage .modal-mask .modal-box .btnwarp .btn-no {
  color: #6496fa;
  background: #ffffff;
  border: 1px solid #6496fa;
}
