@charset "UTF-8";
.set-password-page .set-password {
  height: 100%;
}
.set-password-page .set-password label {
  display: block;
  position: relative;
  border-bottom: 1px solid #eeeeee;
  padding: .5rem 0;
  padding: 0 1rem;
  margin: 0 auto;
  width: 100%;
  height: 5rem;
  line-height: 5rem;
  background: #ffffff;
}
.set-password-page .set-password label .password-input,
.set-password-page .set-password label .password-again-input {
  position: absolute;
  top: 50%;
  width: 80%;
  height: 2rem;
  line-height: 2rem;
  font-size: 1.4rem;
  color: #333333;
  transform: translateY(-50%);
}
.set-password-page .set-password label .tips {
  position: absolute;
  top: 50%;
  height: 2rem;
  line-height: 2rem;
  font-size: 1.4rem;
  color: #bbbbbb;
  transform: translateY(-50%);
  background: #fff;
  transition: transform .5s ,opacity .3s;
}
.set-password-page .set-password label .tips.fix-input-text {
  left: 0;
  bottom: 2rem;
  color: #6496fa;
  transform: translateY(-120%) scale(0.8);
}
.set-password-page .set-password label .tips.err {
  color: #ff2f4a;
  animation: shak-anima 0.3s both;
}
.set-password-page .set-password .see-password {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: #ffffff;
  transition: flex .5s;
  background: none;
  border: none;
  height: 3.3rem;
}
.set-password-page .set-password .see-password > input[type="checkbox"] {
  position: relative;
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  background-color: #f5f5f5;
}
.set-password-page .set-password .see-password > input[type="checkbox"]:after {
  content: "";
  position: absolute;
  border: 1px solid #eeeeee;
  border-radius: 50%;
  width: 100%;
  height: 100%;
}
.set-password-page .set-password .see-password > input[type="checkbox"]:checked:after {
  border: none;
  background: url("../../img/user-center/xuanze@2x.png") no-repeat center;
  background-size: 100%;
  animation: zoom-anima 0.3s both;
}
@media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
  .set-password-page .set-password .see-password > input[type="checkbox"]:checked:after {
    background: url("../../img/user-center/xuanze@3x.png") no-repeat center;
    background-size: 100%;
  }
}
.set-password-page .set-password .see-password > input[type="checkbox"]:checked + .name-bar > span {
  color: #6496fa;
}
.set-password-page .set-password .see-password span {
  font-size: 1.3rem;
  margin-left: 1rem;
}
.set-password-page .set-password .btn-box {
  margin: 7.5rem auto 0;
  width: 100%;
  text-align: center;
}
.set-password-page .set-password .btn-box > a,
.set-password-page .set-password .btn-box > input[type="button"] {
  display: inline-block;
  border-radius: 2rem;
  width: 80%;
  height: 4rem;
  line-height: 4rem;
  color: #fff;
  font-size: 1.5rem;
  box-shadow: none;
  background: #cccccc;
}
.set-password-page .set-password .btn-box > a.act,
.set-password-page .set-password .btn-box > input[type="button"].act {
  box-shadow: 0 0.15rem 1rem rgba(100, 150, 250, 0.25);
  background: #6496fa;
  cursor: pointer;
}
@-webkit-keyframes zoom-anima {
  from {
    transform: scale(0.6);
    opacity: .6;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
@-moz-keyframes zoom-anima {
  from {
    transform: scale(0.6);
    opacity: .6;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
@-ms-keyframes zoom-anima {
  from {
    transform: scale(0.6);
    opacity: .6;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes zoom-anima {
  from {
    transform: scale(0.6);
    opacity: .6;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
@-webkit-keyframes shak-anima {
  0% {
    transform: translateY(-120%) scale(0.8) translateX(0);
    opacity: .6;
  }
  25% {
    transform: translateY(-120%) scale(0.8) translateX(-1rem);
  }
  50% {
    transform: translateY(-120%) scale(0.8) translateX(0);
  }
  75% {
    transform: translateY(-120%) scale(0.8) translateX(1rem);
  }
  100% {
    transform: translateY(-120%) scale(0.8) translateX(0);
    opacity: 1;
  }
}
@-moz-keyframes shak-anima {
  0% {
    transform: translateY(-120%) scale(0.8) translateX(0);
    opacity: .6;
  }
  25% {
    transform: translateY(-120%) scale(0.8) translateX(-1rem);
  }
  50% {
    transform: translateY(-120%) scale(0.8) translateX(0);
  }
  75% {
    transform: translateY(-120%) scale(0.8) translateX(1rem);
  }
  100% {
    transform: translateY(-120%) scale(0.8) translateX(0);
    opacity: 1;
  }
}
@-ms-keyframes shak-anima {
  0% {
    transform: translateY(-120%) scale(0.8) translateX(0);
    opacity: .6;
  }
  25% {
    transform: translateY(-120%) scale(0.8) translateX(-1rem);
  }
  50% {
    transform: translateY(-120%) scale(0.8) translateX(0);
  }
  75% {
    transform: translateY(-120%) scale(0.8) translateX(1rem);
  }
  100% {
    transform: translateY(-120%) scale(0.8) translateX(0);
    opacity: 1;
  }
}
@keyframes shak-anima {
  0% {
    transform: translateY(-120%) scale(0.8) translateX(0);
    opacity: .6;
  }
  25% {
    transform: translateY(-120%) scale(0.8) translateX(-1rem);
  }
  50% {
    transform: translateY(-120%) scale(0.8) translateX(0);
  }
  75% {
    transform: translateY(-120%) scale(0.8) translateX(1rem);
  }
  100% {
    transform: translateY(-120%) scale(0.8) translateX(0);
    opacity: 1;
  }
}
