@charset "UTF-8";
.cart {
  background: #f5f5f5;
}
.cart .edit.edit-btn {
  display: block ;
}
.cart .edit.finish-btn {
  display: none ;
}
.cart .edit.checkbox {
  flex: 0 0 0 ;
}
.cart .edit.bot-bar-pay {
  display: block ;
}
.cart .edit.bot-bar-edit {
  display: none ;
}
.cart .edit-on.edit-btn {
  display: none ;
}
.cart .edit-on.finish-btn {
  display: block ;
}
.cart .edit-on.checkbox {
  flex: 0 0 4.5rem ;
}
.cart .edit-on.bot-bar-pay {
  display: none ;
}
.cart .edit-on.bot-bar-edit {
  display: block ;
}
.cart .top-bar {
  text-align: right;
  padding-right: 1rem;
  height: 3.25rem;
  line-height: 3.25rem;
}
.cart .top-bar > span {
  font-size: 1.3rem;
  color: #555555;
}
.cart .order-list {
  padding-bottom: 5rem;
}
.cart .order-list > li {
  border-bottom: 1px solid #f5f5f5;
}
.cart .order-list > li > label {
  display: flex;
  background: #fff;
}
.cart .order-list > li > label .checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: #ffffff;
  border-right: 1px solid #f5f5f5;
  transition: flex .5s;
}
.cart .order-list > li > label .checkbox > input[type="checkbox"] {
  position: relative;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  background-color: #f5f5f5;
}
.cart .order-list > li > label .checkbox > input[type="checkbox"]:after {
  content: "";
  position: absolute;
  border: 1px solid #eeeeee;
  border-radius: 50%;
  width: 100%;
  height: 100%;
}
.cart .order-list > li > label .checkbox > input[type="checkbox"]:checked:after {
  border-color: transparent;
  background: url("../../img/user-center/xuanze@2x.png") no-repeat center;
  background-size: 100%;
  animation: zoom-anima 0.3s both;
}
@media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
  .cart .order-list > li > label .checkbox > input[type="checkbox"]:checked:after {
    background: url("../../img/user-center/xuanze@3x.png") no-repeat center;
    background-size: 100%;
  }
}
.cart .order-list > li > label .checkbox > input[type="checkbox"]:checked + .name-bar > span {
  color: #6496fa;
}
.cart .order-list > li > label .con {
  flex: 1;
  height: 100%;
}
.cart .order-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem 0;
  background: #ffffff;
}
.cart .order-details .teacher {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.cart .order-details .teacher .avatar > img {
  width: 3.5rem;
  height: 3.5rem;
}
.cart .order-details .teacher .name {
  margin-left: 1rem;
  font-size: 1.5rem;
  color: #333333;
}
.cart .order-details .teacher .name .tips {
  font-size: 1.2rem;
  color: #999999;
}
.cart .order-details .price {
  font-size: 1.5rem;
  color: #ff2f4a;
}
.cart .order-title {
  padding-left: 1rem;
  font-size: 1.5rem;
  color: #333333;
  background: #ffffff;
}
.cart .info-bar {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  background: #ffffff;
  padding: 0 1rem 1rem;
  margin-bottom: .5rem;
}
.cart .info-bar .date,
.cart .info-bar .time,
.cart .info-bar .address {
  padding-left: 2rem;
  flex: 0 0 50%;
}
.cart .info-bar .date {
  background: url("../../img/shopping/rili@2x.png") no-repeat 0 center;
  background-size: 1.2rem;
}
@media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
  .cart .info-bar .date {
    background: url("../../img/shopping/rili@3x.png") no-repeat 0 center;
    background-size: 1.2rem;
  }
}
.cart .info-bar .time {
  background: url("../../img/shopping/shijian@2x.png") no-repeat 0 center;
  background-size: 1.2rem;
}
@media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
  .cart .info-bar .time {
    background: url("../../img/shopping/shijian@3x.png") no-repeat 0 center;
    background-size: 1.2rem;
  }
}
.cart .info-bar .address {
  background: url("../../img/shopping/dizhi@2x.png") no-repeat 0 center;
  background-size: 1.2rem;
}
@media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
  .cart .info-bar .address {
    background: url("../../img/shopping/dizhi@3x.png") no-repeat 0 center;
    background-size: 1.2rem;
  }
}
.cart .info-bar > time {
  font-size: 1.2rem;
  color: #999999;
}
.cart .info-bar .address {
  font-size: 1.2rem;
  color: #999999;
}
.cart .bot-bar-pay,
.cart .bot-bar-edit {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 750px;
  height: 4.5rem;
  background: #fff;
}
.cart .bot-bar-pay .btn-bar,
.cart .bot-bar-edit .btn-bar {
  display: flex;
  align-items: center;
  line-height: 4.5rem;
}
.cart .bot-bar-pay .btn-bar .price,
.cart .bot-bar-edit .btn-bar .price {
  flex: 1;
  text-align: right;
  padding-right: 1rem;
  color: #555555;
  font-size: 1.5rem;
}
.cart .bot-bar-pay .btn-bar .btn-pay,
.cart .bot-bar-edit .btn-bar .btn-pay {
  display: block;
  text-align: center;
  flex: 0 0 11rem;
  height: 100%;
  background: #6496fa;
  color: #ffffff;
  font-size: 1.6rem;
}
.cart .bot-bar-pay .btn-bar .btn-all,
.cart .bot-bar-edit .btn-bar .btn-all,
.cart .bot-bar-pay .btn-bar .btn-del,
.cart .bot-bar-edit .btn-bar .btn-del {
  flex: 1;
  text-align: center;
  font-size: 1.6rem;
  color: #333333;
}
.cart .bot-bar-pay .btn-bar .btn-del,
.cart .bot-bar-edit .btn-bar .btn-del {
  background: #6496fa;
  color: #ffffff;
}
.cart .bot-bar-pay .btn-bar .btn-del.ban,
.cart .bot-bar-edit .btn-bar .btn-del.ban {
  background: #bbbbbb;
}
.cart .fix-black-mask {
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}
.cart .bn-mask {
  display: none;
}
.cart .modal-mask {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.cart .modal-mask .modal-box {
  position: relative;
  top: -3rem;
  width: 80%;
  min-width: 26rem;
  background: #fff;
  border-radius: 1rem;
  padding: 1rem;
}
.cart .modal-mask .modal-box .close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 2.1rem;
  height: 2.1rem;
}
.cart .modal-mask .modal-box .close-btn > img {
  width: 100%;
}
.cart .modal-mask .modal-box .header {
  margin-top: .5rem;
  text-align: center;
  margin-bottom: 2rem;
  font-weight: 600;
  font-size: 1.6rem;
  color: #6496fa;
}
.cart .modal-mask .modal-box .btnwarp {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2rem;
  text-align: center;
}
.cart .modal-mask .modal-box .btnwarp a {
  width: 11rem;
  height: 3.2rem;
  line-height: 3.2rem;
  font-size: 1.4rem;
  border-radius: 3.2rem;
}
.cart .modal-mask .modal-box .btnwarp .btn-yes {
  color: #ffffff;
  background: #6496fa;
}
.cart .modal-mask .modal-box .btnwarp .btn-no {
  color: #6496fa;
  background: #ffffff;
  border: 1px solid #6496fa;
}
